<!--*ngIf="item != undefined"-->
<ion-grid class="item-container-posts">
<ion-row>

  <ion-col size="12" class="item-container">
  <ion-col size="6" size-lg="8" size-md="6" size-sm="6">
    <div class="image-container">
        <app-edit-image></app-edit-image>
    </div>
  </ion-col>
  <ion-col size="6" size-lg="4"  size-md="6" size-sm="6">
    <div class="item-detail-container">
      <ion-grid>
        <ion-row class="basic-details">
          <ion-col><ion-chip> Orders <span class="span">(0)</span> </ion-chip></ion-col>
          <ion-col> <ion-chip> Views<span class="span">(0)</span>  </ion-chip></ion-col>
          <ion-col> <ion-chip> Pending <div class="pending"></div> </ion-chip></ion-col>
        </ion-row>
        <ion-row></ion-row>
        <ion-row class="handlers">
          <ion-col size="6" class="approve-reject">
            <ion-segment mode="ios" value="default">
              <ion-segment-button value="default">
                <ion-label>Approve</ion-label>
              </ion-segment-button>
              <ion-segment-button value="segment">
                <ion-label>Reject</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-col>
          <ion-col size="6" class="save-button">
           <ion-button expand="full">SAVE</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-col>
  </ion-col>
</ion-row>
</ion-grid>