.edit-image-container{
    height: 100%;
    width: 100%;
    .image-view-container{
        height: 80%;
    }
    .image-list-container{
        height: 20%;
    }
}


    .add-new-image{
        height: 70px;
        width: 400px;
        background: pink;
    }

.scroll-items{
    justify-content: flex-start; // changed
    flex-wrap: nowrap;
    overflow-x: scroll !important;
    overflow-y: hidden;
}
.scroll-items ion-col { // added
    display: flex;
    flex-wrap: nowrap;
}