<div class="edit-image-container">
  <div class="image-view-container">
    <item-img [images]="dummyImages"></item-img>
  </div>
  <ion-row class="scroll-items" >
    <ion-col size="3">
      <div class="add-new-image upload-new-image">
        <img src="https://t4.ftcdn.net/jpg/02/17/88/73/360_F_217887350_mDfLv2ootQNeffWXT57VQr8OX7IvZKvB.jpg" />
      </div>
    </ion-col>
    <ion-col>
      <div class="images-list-item add-new-image" *ngFor="let item of dummyImages">
        <div (click)="deleteImage()" class="delete-button horizontal-vertical-centered">
          <ion-icon src="assets/icon/trash.svg"></ion-icon>
        </div>
        <img [src]="item" />
      </div>
</ion-col>
</ion-row>
</div>