.edit-image-container{
    height: 100%;
    width: 100%;
    .image-view-container{
        height: 80%;
    }
    .image-list-container{
        height: 20%;
    }
}

    .upload-new-image{
        height: 100%;
    width: 100%;
    object-fit: cover;
    }

    .add-new-image{
        height: 70px;
        min-width: 100px;
        margin-left: 10px;
        border: 1px solid;
        display: flex;
        justify-content: center;
        position: relative;
    }

.scroll-items{
    justify-content: flex-start; // changed
    flex-wrap: nowrap;
    overflow-x: scroll !important;
    overflow-y: hidden;
}
.scroll-items ion-col { // added
    display: flex;
    flex-wrap: nowrap;
}

.delete-button{
    height: 20px;
    width: 20px;
    position: absolute;
    background: orange;
    right: 0;
}