<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
    <ion-select interface="action-sheet" value="oman">
      <ion-select-option value="oman">OMAN</ion-select-option>
      <ion-select-option value="pakistan">PAKISTAN</ion-select-option>
      <ion-select-option value="uae">UAE</ion-select-option>
      <ion-select-option value="ksa">KSA</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
<router-outlet></router-outlet>
</ion-content>
