<div class="add-item-container">
  <item-component></item-component>
  <ion-list>
    <app-add-images></app-add-images>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="3" size-md="6" size-lg="6">
        <ion-col>
          <ion-item>
            <ion-select interface="popover" placeholder="What to sell ?" (ionChange)="onSelectCategory($event)">
              <ion-select-option  *ngFor="let category of allCategories |async" [value]="category">{{category}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-select interface="popover" placeholder="Describe more.." (ionChange)="onSelectSubCat($event)">
              <ion-select-option *ngFor="let subCat of allSubCategories | async"  [value]="subCat" >{{subCat.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-select interface="popover" placeholder="Select Item" (ionChange)="onSelectChildSubCat($event)">
              <ion-select-option *ngFor="let childSubCat of childSubCategories | async" [value]="childSubCat"> {{ childSubCat }} </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <!---- SHOW ONLY IF THE CATEGORY HAS GENDER TYPE BINDING-->
        <ion-col>
          <ion-item>
            <ion-select (ionChange)="onSelectGenderType($event)" interface="popover" [placeholder]="'Gender'">
              <ion-select-option *ngFor="let type of sizeType | async"  [value]="type"> {{type.name.en}} </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <!---- SHOW ONLY IF THE CATEGORY HAS GENDER TYPE BINDING-->
            <!---- SHOW ONLY IF THE CATEGORY HAS GENDER TYPE BINDING-->
            <ion-col size="12"  size-md="6" sizeSm="6">
              <ion-item>
                <ion-select [multiple]="true" interface="popover" placeholder="Size">
                  <ion-select-option *ngFor="let size of itemAvailableSize | async" [value]="size"> {{size}} </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <!---- SHOW ONLY IF THE CATEGORY HAS GENDER TYPE BINDING-->

            <!---- SHOW ONLY IF THE CHILD SUB CATEGORY HAS COLOR TYPE BINDING-->
            <ion-col size="12"  size-md="6" sizeSm="6">
              <ion-item>
                <ion-select [multiple]="true" interface="popover" placeholder="Available Colors" >
                  <ion-select-option *ngFor="let color of itemAvailableColor | async" [value]="color"> {{color}} </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <!---- SHOW ONLY IF THE CHILD SUB CATEGORY HAS COLOR TYPE BINDING-->
        <ion-col size="12"  size-md="6">
          <ion-item>
            <ion-label>Title</ion-label>
            <ion-input placeholder="eg: 3 piece suit"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">    <ion-item>
          <ion-label>Quantity</ion-label>
          <ion-input inputmode="decimal" type="number" maxlength="1" placeholder="000"></ion-input>
        </ion-item></ion-col>
        <ion-col size="12">
          <ion-item>
          <ion-label>Price x1</ion-label>
          <ion-input type="number" placeholder="000"></ion-input>
          <ion-select placeholder="Currency">
            <ion-select-option value="usd">USD</ion-select-option>
            <ion-select-option value="omr">OMR</ion-select-option>
            <ion-select-option value="pkr">PKR</ion-select-option>
            <ion-select-option value="ued">UED</ion-select-option>
          </ion-select>
        </ion-item></ion-col>
        <ion-col>
          <ion-button expand="full">Preview</ion-button>
          <ion-button expand="full" disabled="true">Save</ion-button>
        </ion-col>
      </ion-col>

      <ion-col size="12" size-sm="3" size-md="6" size-lg="6">
      
      </ion-col>
      </ion-row>
     
    </ion-grid>
  </ion-list>
</div>