<div class="add-image-container">
<div class="empty-image horizontal-vertical-centered" *ngIf="noImageTaken; else hasImages">
  <div class="add-image-icon">
  <ion-icon name="add-outline"></ion-icon>
</div>
<div class="add-image-empty-label">
  <ion-label>Upload Images</ion-label>
</div>
</div>

<ng-template #hasImages>
  <div class="images-container">
    <ion-grid>
      <ion-row class="scroll">
        <ion-col size="6" *ngFor="let img of imagesArray; let i=index">
          <div class="img-container">
            <div class="delete-image-container" (click)="deleteImage(i)">
              <ion-icon name="trash-outline"></ion-icon>
            </div>
            <div class="color-selector">
              <ion-list>
                <ion-item>
                  <ion-select (ionChange)="setImageColor($event,img)" aria-label="Fruit" interface="action-sheet" placeholder="Select Color">
                    <ion-select-option *ngFor="let item of availableColors" [value]="item">{{item.getName()}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </div>
          <img [src]="this.sanitizer.bypassSecurityTrustResourceUrl(img.webPath)" />
          </div>
        </ion-col>
        <ion-col>
          <div (click)="uploadImages()" class="empty-image horizontal-vertical-centered">
          <div class="add-image-icon">
            <ion-icon name="add-outline"></ion-icon>
          </div>
          <div class="add-image-empty-label">
            <ion-label>Upload Images</ion-label>
          </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ng-template>
</div>