<ion-grid>
  <ion-row>
    <ion-col size="3" size-sm="12" size-lg="3" size-md="6">
      <ion-card>
        <ion-card-header>ADD CATEGORIES</ion-card-header>
        <ion-item>
          <ion-input placeholder="Category"></ion-input>
          <ion-thumbnail>
            <img alt="Silhouette of mountains" src="https://t4.ftcdn.net/jpg/02/17/88/73/360_F_217887350_mDfLv2ootQNeffWXT57VQr8OX7IvZKvB.jpg" />
          </ion-thumbnail>
        </ion-item>
        <ion-button expand="full">ADD CATEGORY</ion-button>
      </ion-card>
    </ion-col>

    <ion-col size="3" size-sm="12" size-lg="3" size-md="6">
      <ion-card>
        <ion-card-header>ADD SUB CATEGORY</ion-card-header>
        <ion-select placeholder="CATEGORY">
          <ion-select-option>A</ion-select-option>
          <ion-select-option>A</ion-select-option>
          <ion-select-option>A</ion-select-option>
        </ion-select>
        <ion-item>
          <ion-input placeholder="SUB CATEGORY"></ion-input>
          <ion-thumbnail>
            <img alt="Silhouette of mountains" src="https://t4.ftcdn.net/jpg/02/17/88/73/360_F_217887350_mDfLv2ootQNeffWXT57VQr8OX7IvZKvB.jpg" />
          </ion-thumbnail>
        </ion-item>
        <ion-button expand="full">ADD SUB CATEGORY</ion-button>
      </ion-card>
    </ion-col>

    <ion-col size="3" size-sm="12" size-lg="3" size-md="6">
      <ion-card>
        <ion-card-header>ADD ITEM</ion-card-header>
        <ion-select placeholder="CATEGORY">
          <ion-select-option>A</ion-select-option>
          <ion-select-option>A</ion-select-option>
          <ion-select-option>A</ion-select-option>
        </ion-select>
        <ion-select placeholder="SUB CATEGORY">
          <ion-select-option>A</ion-select-option>
          <ion-select-option>A</ion-select-option>
          <ion-select-option>A</ion-select-option>
        </ion-select>

        <ion-item>
          <ion-input placeholder="ITEM"></ion-input>
          <ion-thumbnail>
            <img alt="Silhouette of mountains" src="https://t4.ftcdn.net/jpg/02/17/88/73/360_F_217887350_mDfLv2ootQNeffWXT57VQr8OX7IvZKvB.jpg" />
          </ion-thumbnail>
        </ion-item>
        <ion-button expand="full">ADD ITEM</ion-button>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>