
ion-card-title{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .order-number{
        color: green;
        font-weight: bold;
        font-size: 30px;
        
    }
    .pending{
        color: orange;
    }
    .delivered{
        color: greenyellow;
    }
    .cancel{
        color: red;
    }
    .return{
        color: palevioletred;
    }
    
}
span{
    font-weight: bold;
    letter-spacing: 2px;
    padding-left: 3px;
}