<ion-grid>
  <ion-row>
    <ion-col>
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Category</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
</ion-col>
<ion-col>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Sub Category</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  </ion-col>
  <ion-col>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Item</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    </ion-col>
</ion-row>
<ion-row>
  <ion-header>
    <ion-toolbar>
      <ion-segment mode="ios" value="all">
        <ion-segment-button value="all">
          <ion-label>All</ion-label>
        </ion-segment-button>
        <ion-segment-button value="pending">
          <ion-label>Pending</ion-label>
        </ion-segment-button>
        <ion-segment-button value="approved">
          <ion-label>Approved</ion-label>
        </ion-segment-button>
        <ion-segment-button value="rejected">
          <ion-label>Rejected</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
</ion-row>

</ion-grid>
